<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= search_form_for @q do |f| %>
          <div class="form-group">
            <%= f.label :gender %>
            <%= f.radio_button :gender_eq, '', { checked: true } %>
            <%= label :gender, "unspecified", value: '' %>
            <%= f.radio_button :gender_eq, :male %>
            <%= f.label :gender, "male", value: :male %>
            <%= f.radio_button :gender_eq, :female %>
            <%= f.label :gender, "female", value: :female %>
          </div>
          
          <div class="form-group">
            <%= f.label :age %>
            <%= f.number_field :age_gteq %>or higher
            <%= f.number_field :age_lteq %>or lower
          </div>
          
          <div class="form-group">
            <%= f.label :prefecture_code, "Area" %>
            <%= f.collection_select :prefecture_code_eq, JpPrefecture::Prefecture.all,
                                    :code, :name_e, include_blank: "-----" %>
          </div>
          
          <div class="form-group">
            <%= f.label :nationality %>
            <%= f.collection_select :nationality_eq, Country.all, :name, :name,
                                    include_blank: "-----" %>
          </div>

          <%= f.submit "Search", class: "btn btn-primary btn-lg" %>
        <% end %>  
      </div>
    </div>
  </div>
</div>
