<% provide(:title, @user.name) %>
  <%= image_tag @user.avatar.variant(combine_options: { resize: "300x300^", 
                                      crop: "300x300+0+0", gravity: :center })
                                      .processed %>
<h1><%= @user.name %></h1>
<% if logged_in? %>
  <% if current_user?(@user) %>
    <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-info btn-lg" %>
  <% else %>
    <%= render 'follow_form' %>
  <% end %>
<% end %>  
<p>Gender <%= @user.gender %></p>
<p>Age <%= @user.age %></p>
<p>Address <%= @user.prefecture_name %></p>
<p>Nationality <%= @user.nationality %></p>
<p>BIO <%= @user.bio %></p>
<p>Hobby <% @user.hobby %></p>
<p>Job <%= @user.job %></p>
<p>Status <%= @user.status %></p>
