<% provide(:title, @title) %>
<% @users.each do |user| %>
  <div class="card">
    <div class="card-body">
      <%= link_to user.name, user %>
      <%= Country.find_country_by_name(user.nationality).emoji_flag %>
      <%= user.prefecture_name %>
      <%= user.gender %>
      <%= user.age %>
      <%= form_with url: rooms_path do |f| %>
        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.submit "Chat", class: "btn btn-success btn-lg" %>
      <% end %>  
    </div>
  </div>
<% end %>  