<header class="navbar fixed-top">
  <div class="container">
    <%= link_to "meet", root_path, id: "logo" %>
    <nav>
      <ul>
        <li>
          <%= link_to users_path do %>
            <i class="fas fa-search fa-3x"></i>
          <% end %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to followers_user_path(current_user) do %>
              <i class="like-link far fa-thumbs-up fa-3x"></i>
            <% end %>
          </li>
          
          <li>
            <%= link_to matchers_user_path(current_user) do %>
              <i class="chat-link far fa-comments fa-3x"></i>
            <% end %>  
          </li>

          <li>
            <%= link_to user_path(current_user) do %>
              <i class="my-profile-link far fa-user fa-3x"></i>
            <% end %>  
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-cog fa-3x"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Delete Account", user_path(current_user.id), 
                    method: :delete, data: { confirm: "You sure?" } %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
          </li>
          
          <li>
            <%= link_to "Log in", login_path, class: "btn btn-primary btn-lg" %>
          </li>
        <% end %>  
      </ul>
    </nav>
  </div>
</header>